body {
  background-color: skyblue;
  margin: 0;
  padding: 0;
}

header {
  background-color: blue;
  display: flex;
  justify-content: center;
}

h1 {
  color: rgb(252, 252, 9);
}

h2 {
  background-color: white;
  color: blue;
  margin-top: 0;
  padding: 12px;
  text-align: center;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  padding: 12px;
}

.divPlanets {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 200px;
}

.planetsName {
  color: blue;
}

img {
  width: 200px;
}

.missionItem {
  align-items: center;
  background-color: rgba(252, 252, 228, 0.315);
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 30px;
  width: 180px;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
